nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-color: #cacaca;
    border-width: 0 1pt 0 0;
    border-style: solid;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 12em;
}

nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    padding: 0;
    margin: 0.1em 0;
    text-align: left;
    border-width: 1pt 0;
    border-style: solid;
    border-color: transparent;
}
nav li.recipe:hover {
    border-color: #cacaca;
}

nav a, nav a:visited, nav a:active {
    margin: 0;
    padding: 0.1em 1em;
    color: #000000;
    font-size: 12pt;
    display: block;
    text-decoration: none;
}

@media print {
    nav {
        display: none;
    }
}
