.recipe-item table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.recipe-item table td.amount, .recipe-item table td.percent {
  text-align: right;
  white-space: nowrap;
}

@media only screen and (max-width:600px)  {
  .MuiDialogContent-root .MuiGrid-root,
  .MuiDialogContent-root .MuiContainer-root
  {
    margin-left: 0!important;
    margin-right: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

.item-text-baking-instructions, .item-text-inner-temperature, .item-text-totals {
  white-space: nowrap;
}

@media print {
  * {
    font-size: 110%;
  }
  .MuiTypography-h5 {
    font-size: 98%;
  }
  body{
    background-color: #ffffff;
  }
  /* MuiModal-root is edit dialog */
  header, .MuiModal-root, .menu-trigger, .MuiDrawer-root, .MuiCardHeader-action, .MuiSnackbar-root, .SnackbarContainer-root {
    display: none!important;
  }
  main {
    margin: 0!important;
  }
  .MuiPaper-root {
    border-width: 0!important;
    margin-bottom: 0;
  }
  .MuiTableCell-root {
    padding: 0.6em!important;
  }

  /*
  .MuiPaper-root {
    border-width: 0!important;
    padding: 0;
    margin: 0;
  }
/*
  .MuiCardHeader-root .MuiTypography-h5 {
    font-size: 1.2rem!important;
  }
 */
/*
  article section {
    margin: 0 auto;
    float: none;
    padding: 0;
    page-break-inside: avoid;
  }
*/
  article {
    page-break-after: always;
/*
    display: block;
    float: none;
    clear: both;
    border-width: 0;
    padding: 0;
    margin: 18pt auto 0 auto;
    page-break-inside: avoid;
    position: relative;
    height: 100%;
    text-align: center;
 */
  }
}
