body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text], input[type=number] {
  text-align: right;
  min-width: 4em;
  max-width: 5em;
}
table {
  margin-left: auto;
  margin-right: auto;
}

td.amount, td.percent {
  text-align: right;
}

article {
  border-width: 0;
  padding: 10pt 0;
  margin: 0;
}
section.edit {
  border-width: 1pt 0;
  border-style: dotted;
  border-color: #cacaca;
  padding: 10pt 0;
  margin: 10pt 0;
}


ul.bakingTimes {
  margin: 0.5em 0 0 0;
}


table th {
  font-size: 1em!important;
}

div.baker-percentage {
  margin-top: 1em;
  border-top: 1pt dotted #cacaca;
}
table.baker-percentage td, table.baker-percentage th {
  margin: 0;
  font-weight: normal;
  padding: 0.5em;
  font-size: 0.8em;
}

table {
  width: 100%;
}

@media print {
  section.edit, .menu-trigger, .MuiDrawer-root, .MuiCardHeader-action {
    display: none!important;
  }

  .MuiPaper-root {
    border-width: 0!important;
    padding: 0;
    margin: 0;
  }

  .MuiTableCell-root {
    padding: 0.5em!important;
  }
  .MuiCardHeader-root .MuiTypography-h5 {
    font-size: 1.2rem!important;
  }
  table th {
    font-size: 1em!important;
  }

  div.recipes {
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #ffffff;
    padding: 0;
  }
  label {
    page-break-inside: avoid;
  }

  article section {
    margin: 0 auto;
    float: none;
    padding: 0;
    page-break-inside: avoid;
  }

  article {
    display: block;
    float: none;
    clear: both;
    border-width: 0;
    padding: 0;
    margin: 18pt auto 0 auto;
    page-break-inside: avoid;
    position: relative;
    height: 100%;
    page-break-after: always;
    text-align: center;
  }
}
