@media print {
  * {
    margin: 0;
    padding: 0;
    font-size: 110%;
  }
  @page {
    size: A4;
    margin: 0;
  }
  /*
  .MuiTypography-h5 {
    font-size: 98%;
  }

   */

  body {
    background-color: #ffffff;
    /*
    width: 210mm;
    height: 297mm;

     */
  }

  main {
    margin: 0 !important;
  }

  .MuiGrid-root {
    display: block !important;
  }

  .MuiGrid-item {
    max-width: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
  }

  .MuiPaper-root {
    border-width: 0 !important;
    margin-bottom: 0;
  }

  .MuiTableCell-root {
    padding: 0.6em !important;
  }

  .recipe-item {
    page-break-after: always !important;
    page-break-inside: avoid !important;
  }
}

